# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# If you are using SQLite
*.sqlite3

# Environments
.env
venv/
ENV/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/

# PyCharm
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Staticfiles
staticfiles/
static/

# Migration cache (nếu không muốn commit migrations)
# **Cẩn thận:** Nếu nhiều dev thì vẫn nên commit migrations
# */migrations/

# System
.DS_Store
Thumbs.db
